main 
    article 
        section 
            h2 Наша школа
        section 
            h2 Наші нагороди
    artilce 
        section 
            h2 Відгуки
        section 
            h2 Запишись просто зараз!